<!DOCTYPE html>
<html lang="en">
<head th:replace="~{fragments/head.html :: head}"></head>
<body>
<header th:replace="~{fragments/Header.html :: header}"></header>
<div class="d-flex flex-column justify-content-center align-items-center">
  <h2>Create Match</h2>
  <form action="" method="post" style="width: 70%" class="d-flex flex-column justify-content-center">
    <label for="p1">Player 1 :</label>
    <select name="p1" id="p1" class="form-control" >
      <option th:each="user : ${users}" th:text="${user.getLastName()}+' '+${user.getFirstName()}" th:value="${user.getId()}"></option>
    </select>
    <label for="p2">Player 2 :</label>
    <select name="p2" id="p2" class="form-control">
      <option th:each="user : ${users}" th:text="${user.getLastName()}+' '+${user.getFirstName()}" th:value="${user.getId()}"></option>
    </select>
    <label for="date">Date :</label>
    <input type="date" name="date" id="date" class="form-control">
    <button class="btn btn-info mt-2">Create Match</button>
  </form>
</div>



</body>
</html>